Targets are integer class codes from 0 through {{ classes|length - 1 }}.
Submit integer class predictions. Class meanings, in code order: {{ classes|tojson }}.
Your predictions are evaluated using accuracy (higher is better).
